
<section class="gallery">
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/berrypie.png" alt="" />
		<figcaption>Barry's Berry Pie</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/bagel.png" alt="" />
		<figcaption>Lucke Bagels</figcaption>
	</figure>
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/bars.png" alt="" />
		<figcaption>Lucke Bars</figcaption>
	</figure>
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/cheescake.png" alt="" />
		<figcaption>Lucke CheeseCake</figcaption>
	</figure>
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/cherrypie.png" alt="" />
		<figcaption>Cherry Pie</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/chocmuffin.png" alt="" />
		<figcaption>Lucke Chocolate Chip Muffins</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/cobbler.png" alt="" />
		<figcaption>Lucke Cobbler</figcaption>
	</figure>

<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/colorcake.png" alt="" />
		<figcaption>Color Cake.</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/cookie.png" alt="" />
		<figcaption>Cookies!</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/cookieskillet.png" alt="" />
		<figcaption>Cookie Skillet!</figcaption>
	</figure>
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/croissant.png" alt="" />
		<figcaption>Croissants!</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/cupcake.png" alt="" />
		<figcaption>Carrot Cupcake</figcaption>
	</figure>
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/cupcake2.png" alt="" />
		<figcaption>Lucke Birthday Cupcakes</figcaption>
	</figure>
	<figure>
		<img src="https://s3.us-east-2.amazonaws.com/lucke2187baker/cupcake3.png" alt="" />
		<figcaption>Chocolate Cupcake</figcaption>
	</figure><figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/donut.png" alt="" />
		<figcaption>Lucke Donuts!</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/pretzel.png" alt="" />
		<figcaption>Lucke Pretzels!</figcaption>
	</figure>
	<figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/choccherry.png" alt="" />
		<figcaption>Chocolate Angel Food Cake With Cherry</figcaption>
	</figure><figure>
		<img src="	https://s3.us-east-2.amazonaws.com/lucke2187baker/chocbrownie.png" alt="" />
		<figcaption>Chocolate Brownies!</figcaption>
	</figure>



</section>
